<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav> <!-- navbar content here  --> 
      <ul id="slide-out" class="sidenav">
          <li><a href="https://y14a.tech/index.html">Home</a></li>
          <li><a href="https://y14a.tech/codingWorks.html">開発したもの</a></li>
      </ul>
<!--
        <ul class="right hide-on-med-and-down">
          <li><a href="https://y14a.tech/index.html">Home</a></li>
          <li><a href="https://y14a.tech/codingWorks.html">開発したもの</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
-->
    </nav>
    {% block body %}
    {% endblock %}
    
    <script type="text/javascript" src="{% static 'handwriting/handwriting.js' %}"></script>
    
    <!--参考
    <script type="text/javascript" src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>-->


  </body>
</html>